body {
    font: open sans, sans serif;
    background-color: #eeeeee; 
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    cursor: pointer;
    font-style: bold;
    color: gold;
}
span {
    color: darkseagreen;
    font-weight: 600;
}
.boxes {
    margin: 10px;
    padding: 5px 10px 20px;
    border-style: solid;
    border-color: darkslategray;
    border-radius: 30px;
    border-width: .3em;
}
#box1 {
    background-color: darkgreen;
}
#box2 {
    background-color: darkred;
}
#box3 {
    background-color: blue;
}
#box4 {
    background-color: yellow;
}